<mat-toolbar color="accent">
  <span>Modellierung-und-Programmierung App</span>

  <span class="example-spacer"></span>

  <button
    class="marging"
    routerLink="/home"
    routerLinkActive
    mat-flat-button
  >
    Home
  </button>
  <button
    class="marging"
    routerLink="/passwordGenerator"
    routerLinkActive
    mat-flat-button
  >
    Password Generator
  </button>
  <button
    class="marging"
    routerLink="/kundenNummer"
    routerLinkActive
    mat-flat-button
  >
    Kundennummer
  </button>
  <button
    class="marging"
    routerLink="/zeichenkette"
    routerLinkActive
    mat-flat-button
  >
    Zeichenkette
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
