.display{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
}

.example-card {
      max-width: 800px;
      border: 1px solid silver;
    width: -webkit-fill-available;
    }
    
    table, td, th {  
          border: 1px solid #ddd;
          text-align: left;
        }
        
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 15px;
        }
    
        .example-form-field{
          width: 100%;
        }
    
        .bold{
          font-size: 1.5rem;
          font-weight: 600;
        }
        .example-card {
  max-width: 800px;
  border: 1px solid silver;
}

table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 15px;
    }

    .example-form-field{
      width: 100%;
    }

    .bold{
      font-size: 1.5rem;
      font-weight: 600;
    }